@using RecipeWebsite.ViewModels.CategoryViewModel.TagsViewModel

@model CreateTagsViewModel

<!-- Header -->
<div class="py-5 text-center">
    <h2>Tags creation form</h2>
</div>

<form method="post" asp-action="Create" enctype="multipart/form-data" class="needs-validation" novalidate>

    <div class="row g-5">
        <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">

            <!-- Tags Name -->
            <div class="col-sm-12 mb-3">
                <label asp-for="TagsName" class="form-label">Tags Name</label>
                <input asp-for="TagsName" type="text" class="form-control" id="title" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Tags name is required.
                </div>
            </div>

            <!-- Tags Description -->
            <div class="col-sm-12 mb-3">
                <label asp-for="TagsDescription" class="form-label">Tags Description</label>
                <input asp-for="TagsDescription" type="text" class="form-control" id="title" placeholder="" value="">
            </div>

            <!-- Submit -->
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="submit" class="btn btn-success btn-lg px-4 gap-3">Submit</button>
                <button type="reset" class="btn btn-secondary btn-lg px-4">Reset</button>
                <a class="btn btn-danger btn-lg px-4" asp-area="" asp-controller="Tags" asp-action="Index">Cancel</a>
            </div>

        </div>

    </div>

</form>