@using RecipeWebsite.ViewModels.CardsViewModel

@model CardsViewModel

<main>

    <!-- Hero -->
    <div class="px-4 py-5 my-5 text-center">

        <h1 class="display-5 fw-bold text-body-emphasis">Posts</h1>

        <div class="col-lg-6 mx-auto">
            <!-- Hero Description -->
            <p class="lead text-body-secondary">Welcome to Posts section! All the posts ever posted on this website appear here. All the posts here are written recipes from my youtube channels.</p>

            <!-- Admin Controls -->
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
                <a asp-controller="Post" asp-action="Create" type="button" class="btn btn-primary btn-lg px-4 gap-3"><i class='bx bxs-add-to-queue bx-rotate-270 me-1' ></i>Create post</a>
                <a href="#" type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary action</a>
            </div>

        </div>

    </div>


    <!-- Search bar -->
    <div class="row justify-content-between">
        <form class="d-flex w-50 mb-2" role="search" asp-controller="Post" asp-action="Index">
            <div class="input-group pe-2">
                <input class="form-control shadow-none" value="@TempData["searchString"]" type="search" placeholder="Search Posts" id="text-suggestion" aria-label="Search" name="SearchString"
                       required oninvalid="this.setCustomValidity(' ')" />
                <button class="btn btn-outline-success shadow-none" type="submit" id="search-button"><i class='bx bx-search'></i></button>
            </div>
            <a class="btn btn-outline-danger w-25" asp-area="" asp-controller="Post" asp-action="Index"><i class='bx bx-reset'></i>Reset</a>
        </form>
    </div>


    <!-- Cards -->
    @if (Model.PostCard.Count != 0)
    {
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <partial name="~/Views/Shared/Cards/_PostCards.cshtml" />

                </div>

            </div>
        </div>
    }
    else // Error
    {
        <p class="text-secondary h3 pt-lg-5"> No post results found. </p>
        <br />
        <p class="blockquote-footer pb-lg-5"> No posts found. A problem seems to have occured! Please wait patiently.</p>
    }

</main>