<div class="bottom-100">
    <footer class="border-top footer text-muted ps-10 pb-3">
        <div class="container-fluid pt-3">
            &copy; 2023 - RecipeWebsite - <a asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a>
        </div>
    </footer>
</div>