@using Microsoft.Extensions.Caching.Memory

@using RecipeWebsite.ViewModels.GenereViewModel

@inject IMemoryCache Cache

@{
    if (!Cache.TryGetValue("CategoryList", out GenereViewModel categoryVM))
    {
        categoryVM = new GenereViewModel();
    }
}

<header style="padding-top:5px;" id="header">

    <nav class="navbar navbar-expand navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ps-10 fixed-top">
        <div class="container-fluid">

            <!--Toggler-->
            <div class="header_toggle ps-2"> <i class='bx bx-menu' id="header-toggle"></i> </div>

            <!--Website Title-->
            <a class="navbar-brand ps-4" asp-area="" asp-controller="Home" asp-action="Index">RecipeWebsite</a>

            <!--Options-->
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ps-5">

                <ul class="navbar-nav flex-grow-1">
                    <!--Search bar-->
                    <form class="d-flex w-50 ps-lg-5" asp-controller="Searchbar" asp-action="Index" method="get">
                        <div class="input-group ps-lg-5">
                            <input class="form-control shadow-none" value="@TempData["searchString"]" type="search" placeholder="Search" name="SearchString" required oninvalid="this.setCustomValidity(' ')"/>
                            <button class="btn btn-outline-success shadow-none" type="submit" id="search-button"><i class='bx bx-search'></i></button>
                        </div>
                    </form>

                    <!-- Dropdown -->
                    @* <form class="ps-lg-5" asp-controller="Filter" asp-action="Index" id="category" method="get">
                        <div class="input-group ps-lg-5">
                            <select class="form-control shadow-none" name="postCategory" id="post-filter">
                                <option>All</option>
                                @foreach (var item in categoryVM.PostCategories)
                                {
                                    <option>@item.CategoryName</option>
                                }
                            </select>
                            <button class="btn btn-outline-success shadow-none me-2" type="submit"><i class='bx bx-filter'></i></button>
                        </div>
                    </form> *@

                </ul>

                <!--Identity-->
                <partial name="~/Views/Shared/TopNavbar/_Identity.cshtml" />

            </div>
        </div>
    </nav>

</header>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!--JavaScript Added-->
<script src="~/js/created/searchbar.js"></script>
<script src="~/js/created/postCategory-filter.js"></script>

<!--CSS Added-->
<link rel="stylesheet" href="~/css/created/searchbar.css" />
<link rel="stylesheet" href="~/css/created/sidebar.css" />