@model CollectionModel

@* Header *@
<div class="py-5 text-center">
    <h2>Collection Delete form</h2>
    <p class="lead">Got a collection you want to delete? Delete it here!</p>
</div>

<form method="post" asp-action="Delete" enctype="multipart/form-data">

    <div class="row g-5">

        <form class="needs-validation" novalidate="">
            <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">

                <h4 class="mb-4">Collection Details</h4>

                <div class="col-sm-12 mb-3">
                    <label asp-for="CollectionTitle" class="form-label">Collection Title</label>
                    <input asp-for="CollectionTitle" type="text" class="form-control" id="title" placeholder="" required disabled readonly>
                    <div class="invalid-feedback">
                        Collection Title is required.
                    </div>
                </div>

                <div class="col-sm-12 mb-3">
                    <label asp-for="CollectionDescription" class="form-label">Recipe Description</label>
                    <input asp-for="CollectionDescription" type="text" class="form-control" id="description" placeholder="" required disabled readonly>
                    <div class="invalid-feedback">
                        Collection Description is required.
                    </div>
                </div>

                <div class="col-12 mb-5">
                    <label asp-for="CollectionImage">Image</label>
                    <input asp-for="CollectionImage" type="file" class="form-control" id="image" placeholder="Thumbnail" required disabled readonly>
                    <span asp-validation-for="CollectionImage" class="text-danger"></span>
                    <div class="invalid-feedback">
                        Collection Thumbnail is required.
                    </div>
                </div>

                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-danger btn-lg px-4 gap-3" data-bs-toggle="modal" data-bs-target="#recipeDeleteModal">Delete Recipe</button>
                    <a class="btn btn-secondary btn-lg px-4" asp-area="" asp-controller="Collection" asp-action="Index">Cancel</a>
                </div>

                <div class="modal fade" id="recipeDeleteModal" tabindex="-1">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-white">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Recipe Delete?</h1>
                                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="fs-4">Are you sure you want to delete <strong>@Model.CollectionTitle</strong> ?</p>
                                <p class="fst-italic"><small>This action<code> cannot be reverted</code>.</small></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>

</form>
