/* Table of contents */
.bd-aside a {
    padding: .1875rem .5rem;
    padding-left: 25px;
    margin-top: .125rem;
    margin-left: .3000em;
    color: var(--bs-body-color);
}

    .bd-aside a:hover,
    .bd-aside a:focus {
        color: var(--bs-body-color);
        background-color: rgba(121, 82, 179, .1);
    }

.bd-aside .active {
    font-weight: 600;
    color: var(--bs-body-color);
}

.bd-aside .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-body-color);
}

    .bd-aside .btn:hover,
    .bd-aside .btn:focus {
        color: var(--bs-body-color);
        background-color: rgba(121, 82, 179, .1);
    }

    .bd-aside .btn:focus {
        box-shadow: 0 0 0 1px rgba(121, 82, 179, .7);
    }

    .bd-aside .btn::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        /* rtl:raw:
  transform: rotate(180deg) translateX(-2px);
  */
        transform-origin: .5em 50%;
    }

    .bd-aside .btn[aria-expanded="true"]::before {
        transform: rotate(90deg) /* rtl:ignore */;
    }